#top-most editorconfig file
root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 3
tab_width = 3
# use soft tabs for maximum compatibility
indent_style = space
# trim whitespace at end of lines
trim_trailing_whitespace = true
# maximum line length of 160 (disabled)
# max_line_length = 160
