/*

Dropdown menu.

*/
.dropdownMenuButton {
  background-color: #ffff00;
  color: #000000;
  border-width: 2px;
  border-color: #000000;
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdownMenuButton:hover, .dropdownMenuButton:focus {
   background-color: #000000;
   color: #ffff00;
   border-width: 2px;
   border-color: #ffff00;
}

.dropdownMenuContainer {
  position: relative;
  display: inline-block;
  z-index: 10000;
}

.dropdownMenuContent {
  display: none;
  position: absolute;
  border-width: 2px;
  border-color: #ffff00;
  background-color: #000000;
  color: #ffff00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-style: inset;
}

.dropdownMenuContent a {
  color: #000000;
  background-color: #ffff00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-width: 2px;
  border-color: #ffff00;
}

.dropdownMenuContent a:hover {
   color: #ffff00;
   background-color: #000000;
   border-width: 2px;
   border-color: #ffff00;
}

.showDropdownMenu {
   display:block;
}
