/* cyrillic */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular-ext.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(./fonts/Exo2-Cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(./fonts/Exo2-Latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(./fonts/Exo2-Latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  /* Update on mobile devices */
  /* zoom: 150%; */
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

select {
   font-family: 'Exo 2', sans-serif;
   color: #ffffff;
   background-color: #000000;
   border-radius: 10px 0px 0px 10px;
   padding: 5px 5px 5px 5px;
}

input {
   font-family: 'Exo 2', sans-serif;
   color: #ffffff;
   background-color: #000000;
   padding: 5px 5px 5px 5px;
}

button {
   cursor: pointer;
   font-family: 'Exo 2', sans-serif;
   color: #ffff00;
   background-color: #0A0A0A;
   border-width: 1px;
   border-radius: 0px 10px 10px 0px;
   padding: 5px 5px 5px 5px;
}

.dropdownMenuButton {
  background-color: #ffff00;
  color: #000000;
  border-width: 2px;
  border-color: #000000;
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdownMenuButton:hover, .dropdownMenuButton:focus {
   background-color: #000000;
   color: #ffff00;
   border-width: 2px;
   border-color: #ffff00;
}

.dropdownMenuContainer {
  position: relative;
  display: inline-block;
  z-index: 10000;
}

.dropdownMenuContent {
  display: none;
  position: absolute;
  border-width: 2px;
  border-color: #ffff00;
  background-color: #000000;
  color: #ffff00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-style: inset;
}

.dropdownMenuContent a {
  color: #000000;
  background-color: #ffff00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-width: 2px;
  border-color: #ffff00;
}

.dropdownMenuContent a:hover {
   color: #ffff00;
   background-color: #000000;
   border-width: 2px;
   border-color: #ffff00;
}

.showDropdownMenu {
   display:block;
}

.helpContent {
   text-align: center;
}

.helpButton {
   font-size: 15px;
   border-width: 1px;
   background-color: #00000f;
   border-color: #ffff00;
   color: #ffff00;
}

.dialogContent {
   text-align: center;
   align-content: center;
}

.dialogContent > button {
   font-size: 24px;
}

.dialogContent > #okButton {
   color: #00FF00;
}

.dialogContent > #yesButton {
   color: #00FF00;
}

.dialogContent > #noButton {
   color: #FF0000;
}

.accountsContainer {
   top: 15px;
   position: relative;
}

.manageFormContainer {
   padding-top: 10px;
   padding-bottom: 10px;
}

.lobbyContainer {
   top: 15px;
   position: relative;
}

.joinTableButton {
   font-size: 16px;
   width: 450px;
}

.joinTableButton > .tableName{
   font-weight: bolder;
}

.joinTableButton > .tableOwner {
   font-size: 10px;
}

.gamesContainer {
   top: 80px;
   position: relative;
}

.gameLabel {
   font-weight: bold;
}

.gameAmount {
   font-weight: bold;
   font-size: 16px;
}

.logo {
  position: absolute;
  right: 0px;
  font-family: 'Prosto One', sans-serif;
  font-size: 3em;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.logo > #cypherpoker {
    background: #000000;
    padding: 10px 5px 10px 15px;
    border-radius: 15px 0px 0px 15px;
}

.logo > #cypherpoker > #text {
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px white);
}

.logo > #JS {
    background: #ffd400;
    padding: 10px 15px 10px 5px;
    border-radius: 0px 15px 15px 0px;
}

.logo > #JS > #text {
    color: #000000;
    filter: drop-shadow(0px 0px 3px white);
}

#mainDialog {
   z-index: 1000;
   background-color: #000000;
   color: #FFFFFF;
   font-family: 'Exo 2', sans-serif;
   border-width: 1px;
   border-radius: 10px 10px 10px 10px;
}

.gameContainer > .publicCardsContainer {
   width: 555px;
   height: 135px;
   background: center / contain no-repeat url("../assets/public_cards_placeholders.svg");
}

.gameContainer > .privateCardsContainer {
   width: 225px;
   height: 135px;
   background: center / contain no-repeat url("../assets/private_cards_placeholders.svg");
}

.gameContainer > #betAmount {
   font-weight: bold;
   font-size: 16px;
   width: 150px;
   height: 40px;
   position: relative;
   top: -4px;
}

.gameContainer > #betButton {
   font-weight: bold;
   color:green;
   width: 100px;
   height: 55px;
   font-family: 'Exo 2', sans-serif;
   font-size: 24px;
   background-color: #000000;
   border-width: 1px;
   border-radius: 0px 10px 10px 0px;
   padding: 5px 5px 5px 5px;
}

.gameContainer > #foldButton {
   font-weight: bold;
   color:red;
   width: 100px;
   height: 55px;
   font-family: 'Exo 2', sans-serif;
   font-size: 24px;
   background-color: #000000;
   border-width: 1px;
   border-radius: 0px 10px 10px 0px;
   padding: 5px 5px 5px 5px;
}

.gameContainer > #newHandButton {
   font-weight: bold;
   color:blue;
   width: 200px;
   height: 55px;
   font-family: 'Exo 2', sans-serif;
   font-size: 24px;
   background-color: #000000;
   border-width: 1px;
   border-radius: 0px 10px 10px 0px;
   padding: 5px 5px 5px 5px;
}

.gameContainer > #betButton:disabled {
   color:gray;
}

.gameContainer > #foldButton:disabled {
   color:gray;
}

.gameContainer > #newHandButton:disabled {
   color:gray;
}

.gameContainer > #timeoutAmount > #timeout {
   color:blue;
}

.gameContainer > #timeoutAmount > #timeoutCritical {
   color:red;
}

.card {
   margin-top:-145px;
   margin-bottom:-145px;
   margin-left:-95px;
   margin-right:-95px;
   width:300px;
   height:auto;
}

.historyCard {
   margin-top:-65px;
   margin-bottom:-65px;
   margin-left:-51px;
   margin-right:-51px;
   width:150px;
   height:auto;
}

.historyHandName {
   font-size: 14px;
   font-weight: bold;
}

.historyHandOwner {
   font-size: 10px;
}

.header {
   font-size:16px;
}

.handHistoryContainer {
   z-index: 2000;
   overflow-x: scroll;
   overflow-y: scroll;
   width: 400px;
   height: 100%;
   top: 0px;
   right: 0px;
   position: absolute;
}
