/* cyrillic */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular-ext.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(./fonts/ProstoOne-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.gameLabel {
   font-weight: bold;
}

.gameAmount {
   font-weight: bold;
   font-size: 16px;
}

.logo {
  font-family: 'Prosto One', sans-serif;
  font-size: 3em;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.logo > #cypherpoker {
    background: #000000;
    padding: 10px 5px 10px 15px;
    border-radius: 15px 0px 0px 15px;
}

.logo > #cypherpoker > #text {
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px white);
}

.logo > #JS {
    background: #ffd400;
    padding: 10px 15px 10px 5px;
    border-radius: 0px 15px 15px 0px;
}

.logo > #JS > #text {
    color: #000000;
    filter: drop-shadow(0px 0px 3px white);
}

.gameContainer > #betAmount {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 16px;
   width: 150px;
   height: 42px;
}

.gameContainer > #betButton {
   font-family: sans-serif;
   font-weight: bold;
   color:green;
   border-width: 0px;
   width: 100px;
   height: 50px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

.gameContainer > #foldButton {
   font-family: sans-serif;
   font-weight: bold;
   color: red;
   border-width: 0px;
   width: 100px;
   height: 50px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

.gameContainer > #newHandButton {
   font-family: sans-serif;
   font-weight: bold;
   color: blue;
   border-width: 0px;
   width: 100px;
   height: 50px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

.gameContainer > #betButton:disabled {
   color:gray;
}

.gameContainer > #foldButton:disabled {
   color:gray;
}

.gameContainer > #newHandButton:disabled {
   color:gray;
}

.card {
   margin-top:-145px;
   margin-bottom:-145px;
   margin-left:-95px;
   margin-right:-95px;
   width:300px;
   height:auto;
}

.historyCard {
   margin-top:-65px;
   margin-bottom:-65px;
   margin-left:-51px;
   margin-right:-51px;
   width:150px;
   height:auto;
}

.historyHandName {
   font-size: 14px;
   font-weight: bold;
}

.historyHandOwner {
   font-size: 10px;
}

.header {
   font-size:16px;
}

.handHistoryContainer {
   overflow-x: scroll;
   overflow-y: scroll;
   width: 400px;
   height: 100%;
   top: 0px;
   right: 0px;
   position: absolute;
}
