<!-- Template content must be enclosed ina a tag (div, span, etc.) -->
<div id="createAccountForm" name="createAccountForm" class="createAccountFormContainer">
   <input type="password" id="newAccountPassword" name="newAccountPassword" placeholder="New account password" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_account_password')">?</button><br/>
   Account cryptocurrency type: <select id="newAccountType" class="newAccountList">
     <option value="bitcoin/test3">Testnet Bitcoin</option>
     <option value="bitcoin/main">Bitcoin</option>
   </select>&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_account_type')">?</button><br/>
   <button id="newAccountButton" class="accountButton" onclick="ui.onAccountButtonClick('create_account')">CREATE ACCOUNT</button>
</div>
