<div>
   <div id="createGame">
      Create Table:&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_form')">?</button><br/><br/>
      <div id="createGameForm" name="createGameForm" class="createGameFormContainer">
         <input type="text" id="playerAliasCreate" name="playerAliasCreate" placeholder="Player alias for new table" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_player_alias')">?</button><br/>
         <input type="text" id="tableName" name="tableName" placeholder="Table name" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_name')">?</button><br/>
         <input type="number" id="numPlayers" name="numPlayers" placeholder="Number of players" step="1" min="2" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_num_players')">?</button><br/>
         <!-- use text fields instead of numbers in order to support cryptocurrency (large) values -->
         <input type="text" id="buyInAmount" name="buyInAmount" placeholder="Buy-in amount" step="100" min="2" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_buyin')">?</button><br/>
         <input type="text" id="bigBlindAmount" name="bigBlindAmount" placeholder="Big blind amount" step="100" min="2" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_bigblind')">?</button><br/>
         <input type="text" id="smallBlindAmount" name="smallBlindAmount" placeholder="Small blind amount" step="100" min="1" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_smallblind')">?</button><br/>
         <input type="text" id="inactivityTimeoutAmount" name="inactivityTimeoutAmount" placeholder="Inactivity timeout (seconds)" step="1" min="1" value="60"/>&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_timeout')">?</button><br/><br/>
         <br/>
         <button id="createGameButton" class="lobbyButton" onclick="ui.onLobbyButtonClick('create_game')">CREATE TABLE</button>&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('create_table_button')">?</button><br/>
      </div>
   </div>
   <div id="ownGames" hidden="true"></div>
   <br/>
   <div id="joinGame">
      Join Table:&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('join_table_list')">?</button><br/><br/>
      <input type="text" id="playerAliasJoin" name="playerAliasJoin" placeholder="Player alias to join table" />&nbsp;&nbsp;<button class="helpButton" onclick="ui.onHelpButtonClick('join_table_player_alias')">?</button><br/>
      <div id="tableList" class="tableListContainer">
         <!-- New table buttons are created here by the CypherPokerUI.onNewTableAnnouncement function -->
      </div>
   </div>
</div>
