<div>
   <div class="dropdownMenuContainer">
     <button onclick="ui.toggleDropdown('#dropdown1')" class="dropdownMenuButton">Main Menu</button>
     <div id="dropdown1" class="dropdownMenuContent">
       <a onclick="ui.onMainMenuClick('newWindow')">New Window</a>
       <a onclick="ui.onMainMenuClick('manageAccount')">Manage Account</a>
       <a onclick="ui.onMainMenuClick('gameLobby')">Game Lobby</a>
       <a onclick="ui.onMainMenuClick('logOut')">Log Out</a>
       <a onclick="ui.onMainMenuClick('about')">About</a>
     </div>
   </div>
</div>
