<div>
   <div id="cashout_btc" hidden="true">
      Cashout processed. The transaction hash is:<br/><br/>

      %txHash%<br/><br/>

      You can check the status of the transaction at these URLs:<br/><br/>

      <a href="https://live.blockcypher.com/btc/tx/%txHash%" target="_blank">https://live.blockcypher.com/btc/tx/%txHash%</a><br/>
      <a href="https://blockexplorer.com/tx/%txHash%" target="_blank">https://blockexplorer.com/tx/%txHash%</a><br/><br/>

      <button id="clipboardButton" onclick="ui.copyToClipboard('%txHash%')">Copy hash to clipboard</button>&nbsp;&nbsp;<button id="okButton" onclick="ui.onPostCashoutOkayClick()">Okay</button>
   </div>
   <div id="cashout_test3" hidden="true">
      Cashout processed. The transaction hash is:<br/><br/>

      %txHash%<br/><br/>

      You can check the status of the transaction at these URLs:<br/><br/>

      <a href="https://live.blockcypher.com/btc-testnet/tx/%txHash%" target="_blank">https://live.blockcypher.com/btc-testnet/tx/%txHash%</a><br/>
      <a href="https://testnet.blockexplorer.com/tx/%txHash%" target="_blank">https://testnet.blockexplorer.com/tx/%txHash%</a><br/><br/>

      <button id="clipboardButton" onclick="ui.copyToClipboard('%txHash%')">Copy hash to clipboard</button>&nbsp;&nbsp;<button id="okButton" onclick="ui.onPostCashoutOkayClick()">Okay</button>
   </div>
</div>
